.page {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  min-height: 100vh;
  justify-content: space-evenly;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.form {
  display: flex;
  flex-direction: column;
}

.infodiv,
.regformdiv {
  background-color: #ffffff;
  box-sizing: border-box;
}

.infodiv {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.infoimg {
  overflow: hidden;
  position: relative;
  padding: 0px 8vw;
  display: flex;
  justify-content: center;
}

.infoimg img {
  width: 27vw;
  height: auto;
  padding: 15px;
  z-index: 10; /* Ensure image is on top */
  position: relative; /* Must be positioned to obey z-index */
}

.regbutton {
  margin-top: 9vh;
  margin-left: 35vw;
  margin-bottom: 1vh;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.regbutton:hover {
  background-color: #45a049;
}

.inputbox_header {
  margin-top: 10px;
  font-size: 18px;
}

.inputbox {
  border-radius: 12px;
  padding-left: 10px;
  height: 7vh;
  width: 40vw;
  margin-top: 5px;
  margin-bottom: 7px;
  border-color: rgb(0, 128, 255);
  border-width: 1px;
}

.scantopay {
  margin-top: 10px;
  font-size: large;
  font-weight: 700;
}

.inputbox::placeholder {
  padding-left: 15px;
  font-size: 17px;
  color: rgb(205, 193, 193);
}

.marqueecontainer {
  position: absolute;
  top: 37%;
  left: -7%;
  transform: rotate(-26deg);
  width: 75vw;
  height: 50px;
  background-color: #ffd335;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 1; /* Lower z-index to keep under image */
}

.marqueecontainer1 {
  position: absolute;
  bottom: 48%;
  right: -7%;
  transform: rotate(26deg);
  width: 65vw;
  height: 50px;
  background-color: #ffd335;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  color: #000000;
  font-size: 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cont1,
.cont2 {
  background-color: #001f54;
  color: white;
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 10px;
  box-shadow: rgba(0, 128, 255, 0.2) 0px 8px 24px;
}

.cont1 {
  transform: translateY(30px);
}

.cont2 {
  transform: translateY(-30px);
}

.contmain {
  background-color: #001f54;
  color: white;
  position: relative;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 10px;
}

.infocon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  padding: 20px 0px;
}

@media only screen and (max-width: 728px) {
  .page {
    flex-direction: column;
  }

  .infoimg img {
    width: 60vw;
    height: auto;
  }

  .inputbox {
    width: 70vw;
  }

  .infodiv {
    border-right: none;
  }

  .marqueecontainer,
  .marqueecontainer1 {
    width: 30vw;
  }
}
