.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  min-width: 700px;
  width: 55vw;
  aspect-ratio: 10/7;
  display: flex;
}
.page {
  
  border-radius: 2rem;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  font-style: normal;
  min-width: 700px;
  width: 55vw;
  aspect-ratio: 10/7;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2), 0 0px 2px rgba(0, 0, 0, 0.1);
}
.page::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(180deg, #001f54, #ffffff);
  border-radius: 2rem;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2), 0 0px 2px rgba(0, 0, 0, 0.1);
}

.regformdiv {
  
  border-radius: 2rem;
  width: 45%;
  padding: 1vw;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.regformhead {
  font-weight: 600;
  font-size: 2rem;
}
.infodiv {
  
  border-radius: 2rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-top-right-radius: 4vh;
  border-bottom-right-radius: 4vh;
  overflow: hidden;
  padding: 1vw;
  display: flex;
  width: 55%;
  flex-direction: column;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.infocon {
  height: 18%;
  /* aspect-ratio: 5/1; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.infoimg {
  background-color: #ffffff;
  height: 41%;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}

.infodiv2 {
  height: 41%;
  padding-left: 3%;
  padding-right: 3%;
  width: 100;
  background-color: #ffffff;
}

.infodivchead {
  height: 20%;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: 750;
  white-space: nowrap;
  margin-top: 5%;
  font-size: 200%;
}

.infodivc0 {
  margin-top: 1%;
  height: 10%;
  background-color: #ffffff;
  font-weight: 550;
  font-size: 1rem;
}

.infodivc1 {
  background-color: #ffffff;
  font-size: 1.5rem;
  padding-top: 3%;
  height: 20%;
  font-weight: 700;
}

.infodivc2 {
  background-color: rgb(255, 255, 255);
  height: 55%;
  color: #000000;
  text-align: justify;
  font-size: 0.9rem;
}

.infoimg img {
  width: 90%;

  height: auto;
  margin-top: 5%;
  z-index: 10;
  position: relative;
}

.buttonshadow {
  filter: drop-shadow(0.5em 0.5em 1em rgb(16, 16, 16, 0.4));
}

.regbutton {
  clip-path: polygon(0 0, 85% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%);

  background-color: #002552;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 3%;
  margin-left: 50%;
  width: 45%;
  transition: background-color 0.3s;
  /* border-radius: 0.3rem;  */
  border-width: 0;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.regbutton:hover {
  background-color: #001e88;
}

.inputbox_header {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
  font-weight: 500;
  width: 20vw;
  white-space: nowrap;
  font-weight: 600;
}

.inputbox {
  
  border-radius: 0.5rem;
  padding-left: 0.2rem;
  width: 93%;
  font-size: 1rem;
  padding: 0.7rem;
  aspect-ratio: 7/1;
  margin-bottom: 4%;
  margin-left: 3%;
  border-color: rgb(0, 36, 78);
  border-width: 0.01rem;
  
}

.inputbox:hover{
  border-radius: 0.5rem;
  padding-left: 0.2rem;
  width: 95%;
  font-size: 1rem;
  padding: 0.7rem;
  aspect-ratio: 7/1;
  margin-bottom: 4%;
  margin-left: 3%;
  border-color: rgb(0, 36, 78);
  transition: width 0.3s ease,color 0.3s ease;
}

.inputbox::placeholder {
  font-size: 1em;
  padding: 0.5rem;
  color: rgb(205, 193, 193);
}

.marqueecontainer {
  position: absolute;
  top: 17%;
  left: -15%;
  transform: rotate(-28deg);
  width: 65vw;
  height: 50px;
  background-color: #ffd335;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
}

.marqueecontainer1 {
  position: absolute;
  bottom: 80%;
  right: -17%;
  transform: rotate(28deg);
  width: 75vw;
  height: 50px;
  background-color: #ffd335;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  color: #000000;
  font-size: 1.3rem;
}

.cont1info {
  justify-content: center;
  text-align: center;
  font-size: 70%;
}
.cont1,
.cont2 {
  background-color: #001f54;
  color: white;
  position: relative;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 75% 0, 100% 50%, 100% 100%, 25% 100%, 0 50%);
}

.cont1 {
  transform: translate(1.5rem, 1.6rem);
}

.cont1logo {
  margin-right: 3%;
  margin-top: 1%;
  width: 60%;
  height: auto;
}

.cont2 {
  font-size: 90%;
  transform: translate(-1.5rem, -1.6rem);
}

.contmain {
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: #001f54;
  color: white;
  position: relative;
  width: 85%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 100% 100%, 20% 100%, 0 50%);
}

.date {
  position: absolute;
  top: 3%;
  left: -4%;
  width: 100%;
  height: 35%;
  text-align: center;
  margin: 2%;
  font-size: 90%;
  white-space: nowrap;
}

.timeSection {
  position:absolute;
  top: 45%;
  height: 47%;
  width: 60%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}
.time,
.label {
  margin-right: 4%;
  height: 90%;

  padding: 4%;
  padding-bottom: 0%;
  background-color: rgb(162, 199, 245);
  color: #000000;
  font-weight: 550;
  border-radius: 0.3rem;
  font-size: 65%;
  white-space: nowrap;
  margin-top: 2%;
}
.labellogo {
  height: 60%;
  margin-right: 0.3em;
}
.time {
  width: 100%;
  margin-left: 10%;
  padding-left: 17%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.label {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}

.mobscroll {
  display: none;
  align-self: center;
}

@media only screen and (max-width: 728px) {
  .page {
    flex-direction: column;
    margin: 0vh 0vw;
    border-radius: 0;
  }

  .infoimg img {
    width: 80vw;
    height: auto;
  }

  .inputbox {
    width: 70vw;
  }

  .infodiv {
    width: 100%;
    border-right: none;
    border-radius: 0px;
  }

  .marqueecontainer {
    top: 0%;
    left: -25%;
    transform: rotate(-33deg);
  }
  .marqueecontainer1 {
    bottom: 80%;
    right: -25%;
    transform: rotate(33deg);
  }
  .marqueecontainer,
  .marqueecontainer1 {
    width: 110vh;
  }
  .mobscroll {
    display: block;
  }
  .inputbox {
    width: 80vw;
  }
}
@media only screen and (max-width: 728px) {
  .page {
    flex-direction: column;
    margin: 0vh 0vw;
    border-radius: 0;
  }

  .infoimg img {
    width: 80vw;
    height: auto;
  }

  .inputbox {
    width: 70vw;
  }

  .infodiv {
    width: 100%;
    border-right: none;
    border-radius: 0px;
  }

  .marqueecontainer {
    top: 0%;
    left: -25%;
    transform: rotate(-33deg);
  }
  .marqueecontainer1 {
    bottom: 80%;
    right: -25%;
    transform: rotate(33deg);
  }
  .marqueecontainer,
  .marqueecontainer1 {
    width: 110vh;
  }
  .mobscroll {
    display: block;
  }
  .inputbox {
    width: 80vw;
  }
}
