@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    gap: 20px;
    /* border-bottom: 1px solid rgb(138, 133, 133); */
}

.navItem {
    position: relative;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-plus-jakarta-sans);
    font-size: 1.8vw;
    text-transform: uppercase;
    padding: 0.9vw 1.8vw;
    color: white;
    font-weight: 600;
    background: none;
    cursor: pointer;
    transition: color 0.2s ease; /* For text color transition */
}

.navItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #CACDF8, #9A9DF5);
    clip-path: polygon(0 0, 75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%);
    transition: transform 0.5s ease-in-out; 
    transform: scale(0);
    z-index: -1; /* Ensure background stays behind text */
}

.navItem.selected::before {
    transform: scaleX(1); /* Show background when selected */
}

.navItem.selected {
    color: black; /* Change text color for selected items */
}
